/*!
Themosis boilerplate is based on Underscores https://underscores.me/.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

body {
    background-color: #999;
}

.wtContactForm {
	> div {
		padding: 5px 0;
		display: flex;
		align-items: center;
		gap: 10px;
		:first-child {
			width: 150px;
		}
		.wtFieldError {
			border-color: red !important;
		}
		span {
			color: red;
		}
		textarea {
			// width: auto;
			width: 300px;
		}
	}
}
@keyframes fadeInOut {
    0%, 100% { opacity: 0 }
    2%, 98% { opacity: 1 }
}
.alert {
    animation: fadeInOut 10s linear;
    bottom: 0;
    min-height: 120px;
    width: 100%;
    position: fixed;
    z-index: 101;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    font-size: 1.2em;
    &.alert-success { background-color: rgb(111, 219, 111); }
    &.alert-danger { background-color: #ff2929 }
    &.hideXhrError, &.hideXhrSuccess { display: none; }
    > div p { margin: 0; }
    .icon {
		background-size: 100px;
		width: 100px;
		height: 100px;
    }
	.dangerIcon {
		background-image: url('/content/themes/theme-to-test-with/assets/svg/danger.svg');
	}
    .successIcon {
		background-image: url('/content/themes/theme-to-test-with/assets/svg/thumbs-up.svg');
    }
    .alertClose {
        background-image: url('/content/themes/theme-to-test-with/assets/svg/close.svg');
        background-size: 40px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
}
